@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Semibold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: white !important;
}

#main-header {
    padding: 11px 7.5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: white;
}

#main-header nav {
    display: flex;
    justify-content: space-between;
}

#main-header nav ul {
    display: flex;
    justify-content: center;
    column-gap: 45px;
    list-style: none;
    padding: 30px 0 0 0;
}

#main-header ul a {
    text-decoration: none;
    text-align: center;
    font: normal normal 600 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #2E4765;
}

#main-header img {
    width: 148px;
}

.header-buttons {
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.add-recipe, .search-cont button, .login-btn {
    background: #F5CC45;
    height: 50px;
    width: 160px;
    text-align: center;
    font: normal normal 500 15px/19px Montserrat;
    letter-spacing: 0;
    color: #2E4765;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    border-radius: 26px;
    margin-top: 15px;
    padding-bottom: 2px;
}

.login-btn {
    color: white !important;
    background: #2E4765 !important;
}

.search-cont button {
    color: white !important;
    background: #56924C !important;
    outline: none;
    border: none;
}

#main-banner {
    background-image: url("../images/Main-banner.png");
    background-size: cover;
}

#main-banner .main-banner-inner {
    padding: 30vh 10% 22vh;
}

.container-space {
    padding-left: 10%;
    padding-right: 10%;
}

#main-banner .main-banner-inner h1 {
    font: normal normal 700 74px/90px Montserrat;
    letter-spacing: 0px;
    color: #2E4765;
    margin-bottom: 40px;
}

.search-cont {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: baseline;
}

.search-cont input {
    width: 600px;
    background: white;
    border: none;
    outline: none;
    border-radius: 26px;
    font: normal normal normal 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #2E4765;
    height: 50px;
    padding: 14px 30px;
}

.search-cont input::placeholder {
    opacity: 0.75;
}

.title-row {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.title-row h2 {
    text-align: left;
    font: normal normal 600 40px/49px Montserrat;
    letter-spacing: 0;
    color: #2E4765;
    position: relative;
    z-index: 2;
    background: white;
    padding-right: 40px;
}

.title-row button, .recipes-bottom button {
    background: #E2EFFF 0% 0% no-repeat padding-box;
    border-radius: 500px;
    width: 160px;
    height: 40px;
    font: normal normal 500 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #2E4765;
    text-align: center;
    outline: none;
    border: none;
    position: relative;
    z-index: 2;
}

.title-line {
    position: absolute;
    width: calc(100% - 200px);
    top: 49%;
    left: 0;
    height: 1px;
    background: #2E4765;
    z-index: 0;
}

#featured-recipes {
    background: white;
}

.featured-recipes-inner {
    padding-top: 70px;
    padding-bottom: 80px;
}

.single-recipe {
    border-radius: 20px;
    border: 1px solid #2E476580;
    margin-bottom: 30px;
}

.recipe-top-img {
    height: 193px;
    background-image: url("../images/recipe-background.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}

.recipe-title, .recipe-details {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.recipe-title img {
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.recipe-title img.full-heart, .recipe-title.active img.empty-heart {
    visibility: hidden;
    opacity: 0;
}

.recipe-title img.empty-heart, .recipe-title.active img.full-heart {
    visibility: visible;
    opacity: 1;
}

.recipe-bottom-content {
    padding: 20px 30px 20px 20px;
}

.recipe-title {
    margin-bottom: 50px;
}

.recipe-title h3 {
    text-align: left;
    font: normal normal 600 20px/24px Proxima Nova;
    letter-spacing: 0px;
    color: #2E4765;
}

.recipe-details span {
    text-align: left;
    font: normal normal normal 18px/22px Proxima Nova;
    letter-spacing: 0px;
    color: #2E4765;
    padding-left: 10px;
    top: 2px;
    position: relative;
}

.recipes-categories {
    display: flex;
    column-gap: 25px;
    margin: 28px 0 32px;
}

.recipes-categories span {
    height: 50px;
    border-radius: 500px;
    text-align: center;
    font: normal normal 500 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #2E4765;
    padding: 14px 40px 0;
    border: 1px solid #2E4765;
    cursor: pointer;
}

.recipes-bottom {
    position: relative;
    margin-top: 26px;
}

.recipes-bottom .bottom-line {
    width: 100% !important;
}

.recipes-bottom button {
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 0 30px white;
}

#homepage-banner, #homepage-banner2 {
    background-image: url("../images/homepage-banner-1.png");
    background-size: cover;
    padding: 94px 0;
}

#homepage-banner h3, #homepage-banner2 h3 {
    text-align: left;
    font: normal normal 600 44px/64px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 1px 24px #000000;
    margin-bottom: 30px;
}

#homepage-banner p, #homepage-banner2 p {
    text-align: left;
    font: normal normal 500 20px/32px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 1px 34px #000000;
    margin-bottom: 60px;
}

#homepage-banner a, #homepage-banner2 a {
    background: #F5CC45 0% 0% no-repeat padding-box;
    border-radius: 26px;
    width: 240px;
    height: 50px;
    font: normal normal 500 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #2E4765;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 14px;
}

#action h2 {
    text-align: center;
    font: normal normal 600 54px/94px Montserrat;
    letter-spacing: 0px;
}

#action p {
    text-align: center;
    font: normal normal 500 24px/40px Montserrat;
    letter-spacing: 0px;
    color: #2E4765;
}

.categories-banners {
    padding-top: 55px;
}

.categories-banners .col-md-6 {
    margin-bottom: 33px;
}

.categories-banners .col-md-6 .single-category-banner {
    padding: 62px 40px;
    background-image: url("../images/category-banner-1.png");
    background-size: cover;
    border-radius: 20px;
    height: 100%;
    height: 287px;
}

.categories-banners .col-md-6:nth-child(2) .single-category-banner {
    background-image: url("../images/category-banner-2.png");
}

.categories-banners .col-md-6:nth-child(3) .single-category-banner {
    background-image: url("../images/category-banner-3.png");
}

.categories-banners .col-md-6:nth-child(4) .single-category-banner {
    background-image: url("../images/category-banner-4.png");
}

.categories-banners .col-md-6:nth-child(5) .single-category-banner {
    background-image: url("../images/category-banner-5.png");
}

.categories-banners {
    margin-top: 60px;
}

.categories-banners a {
    text-decoration: none;
}

.single-category-banner span {
    text-align: left;
    font: normal normal normal 17px/21px Proxima Nova;
    letter-spacing: 0px;
    color: #F5CC45;
}

#action .single-category-banner p {
    text-align: left;
    font-size: 48px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 24px;
    font-weight: 700;
}

#action {
    padding: 72px 0 90px;
    background: white;
}

#homepage-banner2 {
    background-image: url("../images/homepage-banner-2.png");
    background-position: right;
}

#homepage-banner2 p {
    margin-bottom: 32px !important;
    text-shadow: none;
}

#homepage-banner2 h3 {
    margin-bottom: 42px;
    text-shadow: none;
}

#newsletter {
    padding: 78px 0 90px;
    background: #56924C;
}

#newsletter img {
    width: 230px;
    display: block;
    margin: 0 auto;
}

footer {
    background: white;
    padding: 62px 0 34px;
}

footer ul {
    padding: 0;
    list-style: none;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    column-gap: 80px;
}

footer ul li a {
    text-decoration: none;
    color: #2E4765;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer .socials {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 55px;
}

footer p {
    color: #2E4765;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

#create-recipe-hero {
    background-image: url("../images/recepti-hero.png");
    background-size: cover;
    position: relative;
    height: 90vh;
}

#create-recipe-hero h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 135.135% */
}

#recipe-form {
    padding: 70px 10% 78px;
    position: relative;
}

.recipe-form-inner h2 {
    color: #F5CC45;
    font-family: Montserrat;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 94px; /* 174.074% */
    margin: 30px 0;
}

.recipe-form-inner p {
    color: #2E4765;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}

.recipe-form-inner p a{
    text-decoration: underline;
}

#recipe-form .bowl {
    width: 100%;
}

.form-inner {
    margin-top: 40px;
}

.form-section {
    padding: 36px 0;
}

.form-section .col-md-5, .edit-profile-container .col-md-5 {
    position: relative;
    padding-left: 50px;
}

.form-section .col-md-5 img, .edit-profile-container .col-md-5 img {
    position: absolute;
    left: 0;
    top: 0;
}

.form-section .col-md-5 p {
    color: #2E4765;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.edit-profile-container .col-md-5 p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
}

.form-section .col-md-7 input, .form-section .col-md-7 select,
.form-section .col-md-7 textarea, .edit-profile-container .col-md-7 input,
.edit-profile-container .col-md-7 textarea {
    border-radius: 32px;
    border: 1px solid #2E4765;
    background: #FFF;
    height: 64px;
    padding: 15px 30px;
    color: #2E4765;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.form-section .col-md-7 textarea, .edit-profile-container .col-md-7 textarea {
    height: unset;
}

.form-section .col-md-7 input::placeholder, .form-section .col-md-7 textarea::placeholder,
.edit-profile-container .col-md-7 input::placeholder, .edit-profile-container .col-md-7 textarea::placeholder {
    opacity: 0.75;
    color: #2E4765;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-section .col-md-7 input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.form-section .col-md-7 .checkbox-username label {
    color: #2E4765;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.75;
    margin-left: 16px;
}

.checkbox-username {
    margin: 30px 0 0 auto;
}

.form-section .col-md-7 .row {
    margin-bottom: 24px;
}

.submit-recipe {
    border-radius: 32px;
    background: #56924C;
    height: 64px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: none;
}

.single-category-section {
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.single-category-section.cookies {
    background-image: url("../images/dodaci-za-kolace.png");
    background-position: center right;
    background-color: #FFEAA6;
}

.single-category-section h2 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
}

.single-category-section p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: justify;
    color: #2E4765;
    margin-bottom: 25px;
}

.single-category-section a {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    background: #2E4765;
    width: 160px;
    height: 50px;
    display: flex;
    text-decoration: none;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
}

.single-category-inner {
    max-width: 650px;
}

.single-category-section:nth-child(even) .single-category-inner {
    margin-left: auto;
}

.single-category-section.puding {
    background: url("../images/puding.png");
}

.single-category-section.slag {
    background: url("../images/slag.png");
}

.single-category-section.griz {
    background: url("../images/griz.png");
}

.single-category-section.oblande {
    background: url("../images/oblande.png");
}

.single-category-section.eskimko {
    background: url("../images/eskimko.png");
}

.single-category-section.zimnica {
    background: url("../images/zimnica.png");
}

#main-banner a {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    width: 262px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    background: #F5CC45;
    text-decoration: none;
}

.featured-recipe-single .featured-image-cont {
    background-size: cover;
    background-position: center center;
    height: 400px;
    border-radius: 31px 31px 0 0;
}

.featured-recipe-single p {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    padding: 40px 0;
    background: white;
    box-shadow: 0px 26.590377807617188px 53.180755615234375px 0px #E0E0ECCC;
    border-radius: 0 0 31px 31px;
}

.featured-recipe-single.mini p {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    padding: 30px 0;
}

.featured-recipe-single.mini .featured-image-cont {
    height: 200px;
}

.featured-recipe-single.big .featured-image-cont {
    height: 700px
}

.container-space h2 {
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: #56924C;
}

#featured-recipes .featured-recipes-inner > p,
#recipe-book-content .recipe-book-content-inner > p {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    max-width: 865px;
    margin: 0 auto 70px;
}

.logo-footer {
    width: 210px;
    margin: 0 auto 60px;
    display: block;
}

.category-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-products .single-product {
    width: 20%;
}

.category-products .single-product img {
    width: 100%;
}

.category-products p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    margin-top: 20px;
}

.category-products a {
    text-decoration: none !important;
}

#single-category-banner {
    height: 90vh;
}

#single-category-products {
    background: #FFFCF2;
    padding: 7vh 0;
}

.single-category-products-inner > p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    max-width: 840px;
    margin: 0 auto 40px;
}

#single-category-meta h1 {
    font-family: Montserrat;
    font-size: 74px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: center;
    color: #56924C;
}

#single-category-meta {
    padding: 7vh 0;
}

#single-category-meta p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
}

#single-product-main {
    height: 90vh;
    padding-top: 25vh;
}

#single-product-main h1 {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: left;
    color: #56924C;
}

#single-product-main p {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #2d3748;
}

#single-product-main img {
    width: 410px;
    margin: 0 auto;
    display: block;
}

#single-product-guide {
    background: #FEFAEE;
    padding: 7vh 0;
}

#single-product-guide p {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #2E4765;
}

#single-product-guide a, .recipe-book-content-inner > a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    width: 326px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    text-decoration: none;
    background: #F5CC45;
    border-radius: 31px;
}

.recipe-book-content-inner > p {
    margin-bottom: 20px !important;
    font-weight: 600 !important;
}

.recipe-book-content-inner > a {
    margin-top: 0 !important;
    font-weight: 500 !important;
}

#recipe-form h1 {
    font-family: Montserrat;
    font-size: 74px;
    font-weight: 700;
    line-height: 102px;
    letter-spacing: 0em;
    text-align: left;
    color: #56924C;
}

#recipe-form .recipe-form-inner .row {
    display: flex;
    align-items: center;
}

.create-recipe-step .col-md-7 .col-md-5 {
    padding-left: 0 !important;
}

.create-recipe-step {
    display: none;
}

.create-recipe-step.active {
    display: block;
}

.continue, .add-step {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    width: 100%;
    height: 54px;
    background: #F5CC45;
    border-radius: 31px;
    box-shadow: none;
    outline: none;
    border: none;
}

.two-button {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 30px !important;
}

.two-button .add-step {
    display: block;
}

.add-step {
    background: #E2EFFF;
    display: none;
}

.create-recipe-step[data-step="3"] .col-md-7 input:first-child {
    margin-top: 0;
}

.create-recipe-step[data-step="3"] .col-md-7 input {
    margin-top: 30px;
}

span.ingridient-plus {
    display: flex;
    height: 50px;
    width: 50px;
    background: #E2EFFF;
    border-radius: 100%;
    padding: 14px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.create-recipe-step[data-step="2"] .ingredients-cont .ingridient-plus {
    display: none;
}

.create-recipe-step[data-step="2"] .ingredients-cont:first-child .ingridient-plus {
    display: flex;
}

#sitemap-hero {
    background-image: url("../images/mapa-sajta-hero.png");
    background-size: cover;
    background-position: center center;
    height: 50vh;
}

.dropdown-links {
    max-height: 0px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
}

.dropdown-links.active {
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
}

.dropdown-links a {
    display: block;
}

.single-link a, .single-link p {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    text-decoration: none;
    width: 100%;
    display: block;
    margin-bottom: 0;
}

.single-link-inner a, .single-link-inner p {
    font-weight: 500;
}

#sitemap-content {
    padding: 8vh 0;
}

.dropdown-trigger {
    cursor: pointer;
}

.dropdown-trigger img {
    transition: all 0.3s ease-in-out;
    transform: rotate(0deg);
}

.dropdown-trigger.active img {
    transform: rotate(180deg);
}

#recipe-book-hero {
    background-image: url("../images/knjiga-recepata-hero.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
}

#recipe-book-content .row {
    display: flex;
    align-items: center;
}

#recipe-book-content .col-md-6 img {
    width: 100%;
}

#recipe-book-content .col-md-6 p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
}

#login-content {
    padding: 8vh 0;
}

#login-content h1 {
    font-family: Montserrat;
    font-size: 68px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
    margin-bottom: 30px;
}

#login-content h2 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
    margin-bottom: 30px;
}

#login-content h2 a {
    color: #56924C;
    text-decoration: none;
}

#login-content h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #2E4765;
    margin-bottom: 30px;

}

#login-content p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #2E4765;
}

#login-content .row {
    display: flex;
    align-items: center;
}

.login-form {
    box-shadow: 0px 4px 37.400001525878906px 0px #E0E0ECCC;
    margin: 0 0 0 auto;
    width: 500px;
    padding: 30px 50px;
    border-radius: 60px;
}

.login-form input[type="email"], .login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    background: white;
    border: 1px solid #2E4765 !important;
    height: 48px;
    box-shadow: none !important;
    margin-bottom: 20px;
    outline: none !important;
    border-radius: 34px;
    padding: 0 30px;
}

.login-form button {
    width: 100%;
    color: white;
    height: 48px;
    background: #56924C !important;
    box-shadow: none;
    border-radius: 34px;
    outline: none;
    border: none;
    margin-top: 20px;
}

.create-recipe-step .col-md-7 {
    position: relative;
}

.products-ingredients {
    position: absolute;
    height: 200px;
    background: red;
    width: 45%;
    display: none;
    left: 0;
}

.products-ingredients.active {
    display: block;
}

.avatar-img {
    height: 50px;
    width: 50px !important;
    margin-top: 15px;
    cursor: pointer;
}

.header-buttons {
    position: relative;
}

.user-popup {
    position: absolute;
    width: 510px;
    top: 100px;
    box-shadow: 0px 0px 42.900001525878906px 0px #53555673;
    display: none;
    background: white;
    padding: 30px 0 20px;
    border-radius: 32px;
}

.user-popup.active {
    display: block;
}

.user-popup p.email {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
}

.user-popup .avatar-img-popup {
    width: 121px;
    margin: 0 auto;
    display: block;
}

.user-popup p.hello {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    margin-bottom: 10px;
    margin-top: 10px;
}

.user-popup .my-profile-link {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    width: 250px;
    border: 1px solid #2E4765;
    height: 50px;
    display: flex;
    margin: 0 auto 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 32px;
}

.user-popup .list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    text-decoration: none;
    border-bottom: 1px solid #2E476512;
}

.user-popup .list a:last-child {
    border-bottom: 0;
}

.user-popup .list a img {
    width: 20px !important;
}

.user-popup .list a p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
    margin-bottom: 0;
    text-decoration: none;
}

#top-profile {
    background: #fff8e1;
    height: 90vh;
    display: flex;
    align-items: center;
}

#top-profile h1 {
    font-family: Montserrat;
    font-size: 74px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
}

#top-profile a {
    width: 260px;
    height: 54px;
    background: #56924C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 32px;
}

.profile-img {
    width: 100%;
    margin-top: -70px;
}

.profile-top-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 80px;
    margin-bottom: 100px;
}

.profile-top-details p {
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
    opacity: 0.7;
}

.profile-top-details .right {
    padding: 10px;
    background: #F6F6F6;
    border-radius: 100%;
}

.profile-top-details .right img {
    width: 24px;
}

.profile-details {
    box-shadow: 0px 16.60098648071289px 33.20197296142578px 0px #E0E0ECCC;
    padding: 40px 60px;
    border-radius: 61px;
}

.profile-details h4 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
}

.single-detail {
    padding: 20px 0;
    border-bottom: 1px solid #2E476512;
}

.single-detail:last-child {
    border-bottom: none;
}

.single-detail a {
    text-decoration: none;
}

.single-detail span {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
    text-decoration: none;
    padding-left: 10px;
    opacity: 0.7;
    position: relative;
    top: 3px;
}

.single-detail img {
    height: 24px;
}

.profile-recipes {
    box-shadow: 0px 16.60098648071289px 33.20197296142578px 0px #E0E0ECCC;
    border-radius: 61px;
    padding: 60px 0;
}

.profile-recipes .top-nav {
    display: flex;
    width: 100%;
    border-bottom: 0.8px solid rgba(3, 2, 41, 0.1);
    padding-bottom: 40px;
}

.profile-recipes .top-nav .single-btn {
    width: 50%;
}

.profile-recipes .top-nav .single-btn p {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E4765;
    width: 250px;
    height: 54px;
    border-radius: 32px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.profile-recipes .top-nav .single-btn p.active {
    background: #E2EFFF;
}

.edit-profile-container h3 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #2E4765;
}

.edit-profile-container > .row {
    padding: 40px 0;
    border-bottom: 1px solid #F5CC45;
    display: flex;
    align-items: center;
}

.profile-save {
    color: white;
    background: #56924C;
    width: 320px !important;
    height: 64px;
    display: flex;
    margin: 40px 0 0 auto !important;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 32px;
}

.edit-profile-container .col-md-7 {
    padding-right: 0;
}

section#recipe-actions {
    padding-top: 300px;
}
